altair==2.2.2
asn1crypto==0.24.0
attrs==18.2.0
branca==0.3.0
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
Click==7.0
click-plugins==1.0.4
cligj==0.5.0
cryptography==2.3.1
cryptography-vectors==2.4.2
cycler==0.10.0
decorator==4.3.0
descartes==1.1.0
entrypoints==0.2.3
Fiona==1.7.13
Flask==1.0.2
Flask-SQLAlchemy==2.3.2
folium==0.7.0
GDAL==2.2.4
geographiclib==1.49
geopandas==0.4.0
geopy==1.17.0
idna==2.7
itsdangerous==1.1.0
Jinja2==2.10
jsonschema==3.0.0a3
kiwisolver==1.0.1
MarkupSafe==1.1.0
matplotlib==3.0.2
mkl-fft==1.0.6
mkl-random==1.0.1
munch==2.3.2
networkx==2.2
numpy==1.15.4
osmnx==0.8.2
pandas==0.23.4
psycopg2==2.7.6.1
pycparser==2.19
pyOpenSSL==18.0.0
pyparsing==2.2.2
pyproj==1.9.5.1
pyrsistent==0.14.7
PySAL==1.14.4.post2
PySocks==1.6.8
python-dateutil==2.7.4
pytz==2018.6
requests==2.20.1
Rtree==0.8.3
scipy==1.1.0
Shapely==1.6.4.post2
six==1.11.0
SQLAlchemy==1.2.14
toolz==0.9.0
tornado==5.1.1
urllib3==1.23
vincent==0.4.4
Werkzeug==0.14.1
