name: hot-bikes
channels:
  - conda-forge
  - anaconda-fusion
  - defaults
dependencies:
  - bzip2=1.0.6=1
  - ca-certificates=2018.8.24=ha4d7672_0
  - certifi=2018.8.24=py36_1001
  - libffi=3.2.1=hfc679d8_5
  - ncurses=6.1=hfc679d8_1
  - openssl=1.0.2p=h470a237_0
  - pip=18.0=py36_1
  - python=3.6.6=h5001a0f_0
  - readline=7.0=haf1bffa_1
  - setuptools=40.4.0=py36_1000
  - sqlite=3.25.1=hb1c47c0_0
  - tk=8.6.8=ha92aebf_0
  - wheel=0.31.1=py36_1001
  - xz=5.2.4=h470a237_1
  - zlib=1.2.11=h470a237_3
  - pip:
    - branca==0.3.0
    - chardet==3.0.4
    - cycler==0.10.0
    - folium==0.6.0
    - idna==2.7
    - jinja2==2.10
    - kiwisolver==1.0.1
    - markupsafe==1.0
    - matplotlib==3.0.0
    - numpy==1.15.2
    - pandas==0.23.4
    - pillow==5.2.0
    - pyparsing==2.2.1
    - python-dateutil==2.7.3
    - pytz==2018.5
    - requests==2.19.1
    - scipy==1.1.0
    - six==1.11.0
    - urllib3==1.23
prefix: /anaconda3/envs/hot-bikes
