<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script>L_PREFER_CANVAS=false; L_NO_TOUCH=false; L_DISABLE_3D=false;</script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawgit.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
    <style>#map_348ace2cdb754dd7bf30cddae268094f {
        position: relative;
        width: 100.0%;
        height: 100.0%;
        left: 0.0%;
        top: 0.0%;
        }
    </style>
</head>
<body>    
    
    <div class="folium-map" id="map_348ace2cdb754dd7bf30cddae268094f" ></div>
</body>
<script>    
    
    
        var bounds = null;
    

    var map_348ace2cdb754dd7bf30cddae268094f = L.map(
        'map_348ace2cdb754dd7bf30cddae268094f', {
        center: [41.90443898277754, -87.6397308258464],
        zoom: 1,
        maxBounds: bounds,
        layers: [],
        worldCopyJump: false,
        crs: L.CRS.EPSG3857,
        zoomControl: true,
        });

    
    
    var tile_layer_aea5881c3ece48bfa7cdc6cbd27a46c4 = L.tileLayer(
        'https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png',
        {
        "attribution": null,
        "detectRetina": false,
        "maxNativeZoom": 18,
        "maxZoom": 18,
        "minZoom": 0,
        "noWrap": false,
        "subdomains": "abc"
}).addTo(map_348ace2cdb754dd7bf30cddae268094f);
    
                var poly_line_b378e1d01f034b09830de869c4f5e74d = L.polyline(
                    [[41.9004145, -87.6430881], [41.900416, -87.642992], [41.9004246, -87.642465]],
                    {
  "bubblingMouseEvents": true,
  "color": "#cc0000",
  "dashArray": null,
  "dashOffset": null,
  "fill": false,
  "fillColor": "#cc0000",
  "fillOpacity": 0.2,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "noClip": false,
  "opacity": 1,
  "smoothFactor": 1.0,
  "stroke": true,
  "weight": 5
}
                    )
                    .addTo(map_348ace2cdb754dd7bf30cddae268094f);
            
    
                var poly_line_7066a2e3f5f241d88195bd4e077d7de0 = L.polyline(
                    [[41.9004246, -87.642465], [41.9004306, -87.6420936]],
                    {
  "bubblingMouseEvents": true,
  "color": "#cc0000",
  "dashArray": null,
  "dashOffset": null,
  "fill": false,
  "fillColor": "#cc0000",
  "fillOpacity": 0.2,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "noClip": false,
  "opacity": 1,
  "smoothFactor": 1.0,
  "stroke": true,
  "weight": 5
}
                    )
                    .addTo(map_348ace2cdb754dd7bf30cddae268094f);
            
    
                var poly_line_bdc3b0c6257c4375855eefcab2128f62 = L.polyline(
                    [[41.9004306, -87.6420936], [41.9014905, -87.6421307]],
                    {
  "bubblingMouseEvents": true,
  "color": "#cc0000",
  "dashArray": null,
  "dashOffset": null,
  "fill": false,
  "fillColor": "#cc0000",
  "fillOpacity": 0.2,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "noClip": false,
  "opacity": 1,
  "smoothFactor": 1.0,
  "stroke": true,
  "weight": 5
}
                    )
                    .addTo(map_348ace2cdb754dd7bf30cddae268094f);
            
    
                var poly_line_edea74baccff487a8881cbdb5117b0a5 = L.polyline(
                    [[41.9014905, -87.6421307], [41.9026747, -87.6421722]],
                    {
  "bubblingMouseEvents": true,
  "color": "#cc0000",
  "dashArray": null,
  "dashOffset": null,
  "fill": false,
  "fillColor": "#cc0000",
  "fillOpacity": 0.2,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "noClip": false,
  "opacity": 1,
  "smoothFactor": 1.0,
  "stroke": true,
  "weight": 5
}
                    )
                    .addTo(map_348ace2cdb754dd7bf30cddae268094f);
            
    
                var poly_line_2b200d1eabe3477ab516543d1685abdd = L.polyline(
                    [[41.9026747, -87.6421722], [41.90268, -87.6418444]],
                    {
  "bubblingMouseEvents": true,
  "color": "#cc0000",
  "dashArray": null,
  "dashOffset": null,
  "fill": false,
  "fillColor": "#cc0000",
  "fillOpacity": 0.2,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "noClip": false,
  "opacity": 1,
  "smoothFactor": 1.0,
  "stroke": true,
  "weight": 5
}
                    )
                    .addTo(map_348ace2cdb754dd7bf30cddae268094f);
            
    
                var poly_line_28c3ddbd5b4f4fa994edcf88422b01bc = L.polyline(
                    [[41.90268, -87.6418444], [41.9029364, -87.6418506]],
                    {
  "bubblingMouseEvents": true,
  "color": "#cc0000",
  "dashArray": null,
  "dashOffset": null,
  "fill": false,
  "fillColor": "#cc0000",
  "fillOpacity": 0.2,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "noClip": false,
  "opacity": 1,
  "smoothFactor": 1.0,
  "stroke": true,
  "weight": 5
}
                    )
                    .addTo(map_348ace2cdb754dd7bf30cddae268094f);
            
    
                var poly_line_104560efcf004333a792e7a4a430ba99 = L.polyline(
                    [[41.9029364, -87.6418506], [41.9030155, -87.6418525]],
                    {
  "bubblingMouseEvents": true,
  "color": "#cc0000",
  "dashArray": null,
  "dashOffset": null,
  "fill": false,
  "fillColor": "#cc0000",
  "fillOpacity": 0.2,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "noClip": false,
  "opacity": 1,
  "smoothFactor": 1.0,
  "stroke": true,
  "weight": 5
}
                    )
                    .addTo(map_348ace2cdb754dd7bf30cddae268094f);
            
    
                var poly_line_f1748809a3bf441fb305b7075634cfef = L.polyline(
                    [[41.9030155, -87.6418525], [41.9030258, -87.6412025]],
                    {
  "bubblingMouseEvents": true,
  "color": "#cc0000",
  "dashArray": null,
  "dashOffset": null,
  "fill": false,
  "fillColor": "#cc0000",
  "fillOpacity": 0.2,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "noClip": false,
  "opacity": 1,
  "smoothFactor": 1.0,
  "stroke": true,
  "weight": 5
}
                    )
                    .addTo(map_348ace2cdb754dd7bf30cddae268094f);
            
    
                var poly_line_5d25a3a8e596496fbed8db4fedce50c9 = L.polyline(
                    [[41.9030258, -87.6412025], [41.90323, -87.6412102], [41.9036334, -87.6412252], [41.9037437, -87.6411698]],
                    {
  "bubblingMouseEvents": true,
  "color": "#cc0000",
  "dashArray": null,
  "dashOffset": null,
  "fill": false,
  "fillColor": "#cc0000",
  "fillOpacity": 0.2,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "noClip": false,
  "opacity": 1,
  "smoothFactor": 1.0,
  "stroke": true,
  "weight": 5
}
                    )
                    .addTo(map_348ace2cdb754dd7bf30cddae268094f);
            
    
                var poly_line_f4029658ad9549b8982e4e278a891d6d = L.polyline(
                    [[41.9037437, -87.6411698], [41.9038505, -87.6411141], [41.9041753, -87.6411328], [41.9042299, -87.641136]],
                    {
  "bubblingMouseEvents": true,
  "color": "#cc0000",
  "dashArray": null,
  "dashOffset": null,
  "fill": false,
  "fillColor": "#cc0000",
  "fillOpacity": 0.2,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "noClip": false,
  "opacity": 1,
  "smoothFactor": 1.0,
  "stroke": true,
  "weight": 5
}
                    )
                    .addTo(map_348ace2cdb754dd7bf30cddae268094f);
            
    
                var poly_line_66b3da081f354cd4b4b5c8fe9633058d = L.polyline(
                    [[41.9042299, -87.641136], [41.9045807, -87.6406891]],
                    {
  "bubblingMouseEvents": true,
  "color": "#cc0000",
  "dashArray": null,
  "dashOffset": null,
  "fill": false,
  "fillColor": "#cc0000",
  "fillOpacity": 0.2,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "noClip": false,
  "opacity": 1,
  "smoothFactor": 1.0,
  "stroke": true,
  "weight": 5
}
                    )
                    .addTo(map_348ace2cdb754dd7bf30cddae268094f);
            
    
                var poly_line_99c97c03d43047e1887f4500b31a91d5 = L.polyline(
                    [[41.9045807, -87.6406891], [41.9048432, -87.6410518], [41.904875, -87.6410957]],
                    {
  "bubblingMouseEvents": true,
  "color": "#cc0000",
  "dashArray": null,
  "dashOffset": null,
  "fill": false,
  "fillColor": "#cc0000",
  "fillOpacity": 0.2,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "noClip": false,
  "opacity": 1,
  "smoothFactor": 1.0,
  "stroke": true,
  "weight": 5
}
                    )
                    .addTo(map_348ace2cdb754dd7bf30cddae268094f);
            
    
                var poly_line_7f72487a28f0484fa2d9cf7d3c0c2d99 = L.polyline(
                    [[41.904875, -87.6410957], [41.9049318, -87.6410228], [41.9050729, -87.6408416]],
                    {
  "bubblingMouseEvents": true,
  "color": "#cc0000",
  "dashArray": null,
  "dashOffset": null,
  "fill": false,
  "fillColor": "#cc0000",
  "fillOpacity": 0.2,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "noClip": false,
  "opacity": 1,
  "smoothFactor": 1.0,
  "stroke": true,
  "weight": 5
}
                    )
                    .addTo(map_348ace2cdb754dd7bf30cddae268094f);
            
    
                var poly_line_ce00f2c79f564ef7ab3a6e42ce34e648 = L.polyline(
                    [[41.9050729, -87.6408416], [41.9054547, -87.6403144], [41.9054854, -87.6402297], [41.9054906, -87.6401775], [41.9054945, -87.6401375], [41.9054985, -87.6396691]],
                    {
  "bubblingMouseEvents": true,
  "color": "#cc0000",
  "dashArray": null,
  "dashOffset": null,
  "fill": false,
  "fillColor": "#cc0000",
  "fillOpacity": 0.2,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "noClip": false,
  "opacity": 1,
  "smoothFactor": 1.0,
  "stroke": true,
  "weight": 5
}
                    )
                    .addTo(map_348ace2cdb754dd7bf30cddae268094f);
            
    
                var poly_line_445c6eb8e9064a9c9d6b81f8dc822f57 = L.polyline(
                    [[41.9054985, -87.6396691], [41.9055011, -87.6395211], [41.9055205, -87.6384208]],
                    {
  "bubblingMouseEvents": true,
  "color": "#cc0000",
  "dashArray": null,
  "dashOffset": null,
  "fill": false,
  "fillColor": "#cc0000",
  "fillOpacity": 0.2,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "noClip": false,
  "opacity": 1,
  "smoothFactor": 1.0,
  "stroke": true,
  "weight": 5
}
                    )
                    .addTo(map_348ace2cdb754dd7bf30cddae268094f);
            
    
                var poly_line_7c7399a59bc04032bcb16c07db6d4b98 = L.polyline(
                    [[41.9055205, -87.6384208], [41.9056602, -87.6384253]],
                    {
  "bubblingMouseEvents": true,
  "color": "#cc0000",
  "dashArray": null,
  "dashOffset": null,
  "fill": false,
  "fillColor": "#cc0000",
  "fillOpacity": 0.2,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "noClip": false,
  "opacity": 1,
  "smoothFactor": 1.0,
  "stroke": true,
  "weight": 5
}
                    )
                    .addTo(map_348ace2cdb754dd7bf30cddae268094f);
            
    
                var poly_line_300082add83245da985c63d93dedb720 = L.polyline(
                    [[41.9056602, -87.6384253], [41.9059642, -87.6384343], [41.9061432, -87.6384396]],
                    {
  "bubblingMouseEvents": true,
  "color": "#cc0000",
  "dashArray": null,
  "dashOffset": null,
  "fill": false,
  "fillColor": "#cc0000",
  "fillOpacity": 0.2,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "noClip": false,
  "opacity": 1,
  "smoothFactor": 1.0,
  "stroke": true,
  "weight": 5
}
                    )
                    .addTo(map_348ace2cdb754dd7bf30cddae268094f);
            
    
                var poly_line_1e2eb41772524bffbc5f0a92b7ff689b = L.polyline(
                    [[41.9061432, -87.6384396], [41.9064579, -87.6384491], [41.906523, -87.6384509]],
                    {
  "bubblingMouseEvents": true,
  "color": "#cc0000",
  "dashArray": null,
  "dashOffset": null,
  "fill": false,
  "fillColor": "#cc0000",
  "fillOpacity": 0.2,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "noClip": false,
  "opacity": 1,
  "smoothFactor": 1.0,
  "stroke": true,
  "weight": 5
}
                    )
                    .addTo(map_348ace2cdb754dd7bf30cddae268094f);
            
    
                var poly_line_b644a1ca02144c5b98cb195197907b0d = L.polyline(
                    [[41.906523, -87.6384509], [41.9066528, -87.6384555]],
                    {
  "bubblingMouseEvents": true,
  "color": "#cc0000",
  "dashArray": null,
  "dashOffset": null,
  "fill": false,
  "fillColor": "#cc0000",
  "fillOpacity": 0.2,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "noClip": false,
  "opacity": 1,
  "smoothFactor": 1.0,
  "stroke": true,
  "weight": 5
}
                    )
                    .addTo(map_348ace2cdb754dd7bf30cddae268094f);
            
    
                var poly_line_a61f1acaf4f44b98a6f589c6d2de3526 = L.polyline(
                    [[41.9066528, -87.6384555], [41.9066539, -87.6383591], [41.9066595, -87.6378536]],
                    {
  "bubblingMouseEvents": true,
  "color": "#cc0000",
  "dashArray": null,
  "dashOffset": null,
  "fill": false,
  "fillColor": "#cc0000",
  "fillOpacity": 0.2,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "noClip": false,
  "opacity": 1,
  "smoothFactor": 1.0,
  "stroke": true,
  "weight": 5
}
                    )
                    .addTo(map_348ace2cdb754dd7bf30cddae268094f);
            
    
                var poly_line_fc8e1a0c9e2045e4a4e0342d15b18f86 = L.polyline(
                    [[41.9066595, -87.6378536], [41.9066723, -87.6367002]],
                    {
  "bubblingMouseEvents": true,
  "color": "#cc0000",
  "dashArray": null,
  "dashOffset": null,
  "fill": false,
  "fillColor": "#cc0000",
  "fillOpacity": 0.2,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "noClip": false,
  "opacity": 1,
  "smoothFactor": 1.0,
  "stroke": true,
  "weight": 5
}
                    )
                    .addTo(map_348ace2cdb754dd7bf30cddae268094f);
            
    
                var poly_line_aa6ac6c0562e474ba118ac1631e8d669 = L.polyline(
                    [[41.9066723, -87.6367002], [41.9066744, -87.6365272]],
                    {
  "bubblingMouseEvents": true,
  "color": "#cc0000",
  "dashArray": null,
  "dashOffset": null,
  "fill": false,
  "fillColor": "#cc0000",
  "fillOpacity": 0.2,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "noClip": false,
  "opacity": 1,
  "smoothFactor": 1.0,
  "stroke": true,
  "weight": 5
}
                    )
                    .addTo(map_348ace2cdb754dd7bf30cddae268094f);
            
    
                var poly_line_ff83a3c724e64a8c92b236533178180d = L.polyline(
                    [[41.9066744, -87.6365272], [41.9067025, -87.6347579], [41.9067062, -87.6345321]],
                    {
  "bubblingMouseEvents": true,
  "color": "#cc0000",
  "dashArray": null,
  "dashOffset": null,
  "fill": false,
  "fillColor": "#cc0000",
  "fillOpacity": 0.2,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "noClip": false,
  "opacity": 1,
  "smoothFactor": 1.0,
  "stroke": true,
  "weight": 5
}
                    )
                    .addTo(map_348ace2cdb754dd7bf30cddae268094f);
            
    
                

                map_348ace2cdb754dd7bf30cddae268094f.fitBounds(
                    [[41.9004145, -87.6430881], [41.9067062, -87.6345321]],
                    {}
                    );
            
</script>